*, *::before, *::after
    box-sizing: border-box
html
    font-size: 14px
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%
.section
    padding: 60px 0
    &_dark
        background-color: $dark
        color: $light
    &-title
        text-align: center
        &_left
            text-align: left
        &_light
            color: $light
        &__heading
            font-family: 'Yeseva One'
            text-transform: uppercase
            line-height: 138.6%
            &_primary
                color: $primary
        &__word
            display: flex
            align-items: center
            &::after
                content: ''
                width: 92px
                height: 1px
                margin-left: 2rem
                background-color: $primary
        &__text
            font-size: 1.28rem
            line-height: 2.07rem
            max-width: 31.57rem
        &__image
            display: flex
            justify-content: center
            align-items: center
            &::after, &::before
                content: ''
                margin: 0 10px
                width: 32px
                height: 2px
                background-color: $primary
                border-radius: 30px
        &__description
            max-width: 52.92rem
            margin: auto
            margin-top: 1.64rem
            font-size: 1.42rem
            line-height: 1.92rem
            